# Regex

## What?
Regular expressions (called regexes or regex patterns) are a tiny language for dealing with text and character patterns.
With RegEx patterns we can:
- Does this string match a pattern?
- Is there a match for the pattern anywhere in the string?
- Modify + split strings in various ways

In [1]:
import pandas as pd
import re # part of the python stdlib

In [2]:
log_file_lines = '''
76.185.131.226 - - [11/May/2020:14:25:53 +0000] "GET / HTTP/1.1" 200 42 "-" "python-requests/2.23.0"
76.185.131.226 - - [11/May/2020:16:25:46 +0000] "GET / HTTP/1.1" 200 42 "-" "python-requests/2.23.0"
76.185.131.226 - - [11/May/2020:16:25:58 +0000] "GET / HTTP/1.1" 200 42 "-" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.129 Safari/537.36"
76.185.131.226 - - [11/May/2020:16:25:58 +0000] "GET /favicon.ico HTTP/1.1" 200 162 "https://python.zach.lol/" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.129 Safari/537.36"
104.5.217.57 - - [11/May/2020:16:26:27 +0000] "GET / HTTP/1.1" 200 42 "-" "python-requests/2.23.0"
76.185.131.226 - - [11/May/2020:16:26:46 +0000] "GET /documentation HTTP/1.1" 200 348 "-" "python-requests/2.23.0"
76.185.131.226 - - [11/May/2020:16:26:54 +0000] "GET /documentation HTTP/1.1" 200 348 "-" "python-requests/2.23.0"
104.5.217.57 - - [11/May/2020:16:27:04 +0000] "GET /documentation HTTP/1.1" 200 348 "-" "python-requests/2.23.0"
76.185.131.226 - - [11/May/2020:16:27:05 +0000] "GET /documentation HTTP/1.1" 200 348 "-" "python-requests/2.23.0"
76.185.131.226 - - [11/May/2020:16:27:10 +0000] "GET /documentation HTTP/1.1" 200 348 "-" "python-requests/2.23.0"
'''

In [3]:
lines = pd.Series(log_file_lines.strip().split('\n'))
lines

0    76.185.131.226 - - [11/May/2020:14:25:53 +0000...
1    76.185.131.226 - - [11/May/2020:16:25:46 +0000...
2    76.185.131.226 - - [11/May/2020:16:25:58 +0000...
3    76.185.131.226 - - [11/May/2020:16:25:58 +0000...
4    104.5.217.57 - - [11/May/2020:16:26:27 +0000] ...
5    76.185.131.226 - - [11/May/2020:16:26:46 +0000...
6    76.185.131.226 - - [11/May/2020:16:26:54 +0000...
7    104.5.217.57 - - [11/May/2020:16:27:04 +0000] ...
8    76.185.131.226 - - [11/May/2020:16:27:05 +0000...
9    76.185.131.226 - - [11/May/2020:16:27:10 +0000...
dtype: object

In [4]:
regex = r'''
    (?P<ip>.*?)\s.*?\[(?P<timestamp>.*?)\]\s+"(?P<method>[A-Z]+)\s(?P<path>.*?)\sHTTP/1.1"
    \s(?P<status>\d+)\s(?P<bytes_sent>\d+)\s"(?P<referrer>.*?)"\s"(?P<user_agent>.*?)"
    '''

regex = re.compile(regex, re.VERBOSE)
regex

re.compile(r'\n    (?P<ip>.*?)\s.*?\[(?P<timestamp>.*?)\]\s+"(?P<method>[A-Z]+)\s(?P<path>.*?)\sHTTP/1.1"\n    \s(?P<status>\d+)\s(?P<bytes_sent>\d+)\s"(?P<referrer>.*?)"\s"(?P<user_agent>.*?)"\n    ',
           re.UNICODE|re.VERBOSE)

In [5]:
lines.str.extract(regex)

,ip,timestamp,method,path,status,bytes_sent,referrer,user_agent
0,76.185.131.226,11/May/2020:14:25:53 +0000,GET,/,200,42,-,python-requests/2.23.0
1,76.185.131.226,11/May/2020:16:25:46 +0000,GET,/,200,42,-,python-requests/2.23.0
2,76.185.131.226,11/May/2020:16:25:58 +0000,GET,/,200,42,-,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_6...
3,76.185.131.226,11/May/2020:16:25:58 +0000,GET,/favicon.ico,200,162,https://python.zach.lol/,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_6...
4,104.5.217.57,11/May/2020:16:26:27 +0000,GET,/,200,42,-,python-requests/2.23.0
5,76.185.131.226,11/May/2020:16:26:46 +0000,GET,/documentation,200,348,-,python-requests/2.23.0
6,76.185.131.226,11/May/2020:16:26:54 +0000,GET,/documentation,200,348,-,python-requests/2.23.0
7,104.5.217.57,11/May/2020:16:27:04 +0000,GET,/documentation,200,348,-,python-requests/2.23.0
8,76.185.131.226,11/May/2020:16:27:05 +0000,GET,/documentation,200,348,-,python-requests/2.23.0
9,76.185.131.226,11/May/2020:16:27:10 +0000,GET,/documentation,200,348,-,python-requests/2.23.0

## re library function

### `re.findall`

 - finds all substrings where the RE matches; returns a list

### Literals - start simple

In [6]:
subject = 'abc'

#### find the letter a

In [7]:
regexp = r'a'

re.findall(regexp, subject)

['a']

In [9]:
re.findall(r'a', 'abc')

['a']

#### find the letter c

In [10]:
regexp = r'c'

re.findall(regexp, subject)

['c']

#### find the letter d

In [11]:
regexp = r'd'

re.findall(regexp, subject)

[]

### Literals - make it more complex

In [12]:
subject = 'Mary had a little lamb. 1 little lamb. Not 10, not 12, not 22, just one'

#### find mary

In [13]:
regexp = r'mary'

re.findall(regexp, subject)

[]

In [14]:
regexp = r'Mary'

re.findall(regexp, subject)

['Mary']

##### regex flag: re.IGNORECASE

In [15]:
regexp = r'mary'

re.findall(regexp, subject, re.IGNORECASE)

['Mary']

#### find little

In [16]:
regexp = r'little'

re.findall(regexp, subject)

['little', 'little']

#### find the number 1

In [17]:
regexp = r'1'

re.findall(regexp, subject)

['1', '1', '1']

### Metacharacters

-  `.` : anything


- `\w`: any letter or number
- `\W`: anything that is *not* a letter or number



- `\d`: any digit
- `\D`: anything that is *not* a digit


- `\s` : any whitespace

In [18]:
subject = 'abc. 123'

#### try all the metacharacters

In [19]:
regexp = r'.'

re.findall(regexp, subject)

['a', 'b', 'c', '.', ' ', '1', '2', '3']

In [20]:
regexp = r'\w'

re.findall(regexp, subject)

['a', 'b', 'c', '1', '2', '3']

In [21]:
regexp = r'\W'

re.findall(regexp, subject)

['.', ' ']

In [22]:
regexp = r'\d'

re.findall(regexp, subject)

['1', '2', '3']

In [23]:
regexp = r'\D'

re.findall(regexp, subject)

['a', 'b', 'c', '.', ' ']

#### what does \w\w bring back?

In [24]:
regexp = r'\w\w'

re.findall(regexp, subject)

['ab', '12']

#### match the period

#### match the string 'c 1' using only metacharacters

In [ ]:
subject = 'c 1'

### Repeating

- `{}`: custom number of repititions
    - `{x}`: exactly x repititions
    - `{x,}`: x or more
    - `{x,y}`: between x and y repititions
- `*`: zero or more
- `+`: one or more
- `?`: optional
- `?`: greedy

#### what will be returned?

In [ ]:
subject = 'abc 123'

In [ ]:
regexp = r'\w+\s?\d'

re.findall(regexp, subject)

### Find the matches

In [ ]:
subject = """
    Codeup, founded in 2014, is located at 600 Navarro St. Suite 350, San Antonio, TX 78230. 
    You can find us online at http://codeup.com and our alumni portal is located at https://alumni.codeup.com.
    """

#### match all the numbers

#### match a 5 digit number, but not a number with fewer digits

#### match a 4 or more digit number

#### match 3 to 4 digit number

#### match `http://` or `https://`

### Any of / None of

- `[]`: will match anything inside of
- `[^]`: will match anything not inside of
- `[-]`: will match a range of values inside of

In [44]:
subject = 'abc 12345'

#### match using brackets

In [47]:
regexp = r'[a1][b2][c3]'

re.findall(regexp, subject)

['abc', '123']

In [48]:
regexp = r'[a1][b2][c]'

re.findall(regexp, subject)

['abc']

#### match using carrot

#### match using range

#### match using range and carrot

### Anchors

- `^`: starts with
- `$`: ends with
- `\b`: word boundary

In [51]:
subject = """
    Codeup, founded in 2014, is located at 600 Navarro St. Suite 350, San Antonio, TX 78230. 
    You can find us online at http://codeup.com and our alumni portal is located at https://alumni.codeup.com.
    """

#### match 3 or 4 digit number

In [35]:
regexp = r'\d+'

re.findall(regexp, subject)

['2014', '600', '350', '78230']

In [36]:
regexp = r'\w+'

re.findall(regexp, subject)

['Codeup',
 'founded',
 'in',
 '2014',
 'is',
 'located',
 'at',
 '600',
 'Navarro',
 'St',
 'Suite',
 '350',
 'San',
 'Antonio',
 'TX',
 '78230',
 'You',
 'can',
 'find',
 'us',
 'online',
 'at',
 'http',
 'codeup',
 'com',
 'and',
 'our',
 'alumni',
 'portal',
 'is',
 'located',
 'at',
 'https',
 'alumni',
 'codeup',
 'com']

In [52]:
subject

'\n    Codeup, founded in 2014, is located at 600 Navarro St. Suite 350, San Antonio, TX 78230. \n    You can find us online at http://codeup.com and our alumni portal is located at https://alumni.codeup.com.\n    '

In [53]:
regexp = r'\d{5}'

re.findall(regexp, subject)

['78230']

In [55]:
regexp = r'\d{3,4}'

re.findall(regexp, subject)

['2014', '600', '350', '7823']

In [56]:
regexp = r'\b\d{3,4}\b'

re.findall(regexp, subject)

['2014', '600', '350']

In [43]:
regexp = r'http://|https://'

re.findall(regexp, subject)

['http://', 'https://']

In [57]:
subject = 'kiwi aardvark banana codeup data science academy extra'

#### match all words that start with a vowel

In [64]:
#using a boundry
regexp = r'\b[aeiou]\w+'

re.findall(regexp, subject)

['aardvark', 'academy', 'extra']

In [65]:
#using an anchor
regexp = r'^[aeiou]\w+'

re.findall(regexp, subject)

[]

In [67]:
#split subjects to use anchor
# subject.split()
regexp = r'^[aeiou]\w+'

re.findall(regexp, subject.split())

TypeError: expected string or bytes-like object

#### match all words that end with a vowel

### Capture Groups

- `()`: grab what's contained in parentheses

In [68]:
subject = '''
You can find us on the web at https://codeup.com. Our ip address is 123.123.123.123 (maybe).
'''

#### find the domain only

In [73]:
regexp = r'https://(\w+).com'

re.findall(regexp, subject)

['codeup']

#### find everything after the first sentence

In [75]:
regexp = r'\. (.+)'

re.findall(regexp, subject)

['Our ip address is 123.123.123.123 (maybe).']

#### find the ip address

In [78]:
regexp = r'\d+.\d+.\d+.\d+'

re.findall(regexp, subject)

['123.123.123.123']

In [85]:
# This is better because we escape the '.' which will always work
regexp = r'\d+\.\d+\.\d+\.\d+'

re.findall(regexp, subject)

['123.123.123.123']

In [82]:
regexp = r'address is (.*)'

re.findall(regexp, subject)

['123.123.123.123 (maybe).']

In [88]:
regexp = r'address is (.*) '

re.findall(regexp, subject)

['123.123.123.123']

In [ ]:
#dont be greedy

#### find domain and ip address

#### find the protocol, domain, and tld

In [89]:
regexp = r'(https?)://(\w+)\.(\w+)'

re.findall(regexp, subject)

[('https', 'codeup', 'com')]

### Non Capture Group

- `?:`: to ignore a capture group also called shy

#### find the ip address

In [90]:
regexp = r'((?:\d{3}\.){3}\d+)'

re.findall(regexp, subject)

['123.123.123.123']

#### find the protocol and tld

## more re library functions

- `re.findall` finds all substrings where the RE matches; returns a list


- `re.search` scans through a string, looking for any location where the RE matches; returns match object
- `re.sub` allows us to match a regex and substitute in a new substring for the match; returns string

### `re.search`

- scans through a string, looking for any location where the RE matches; returns match object

In [91]:
subject = """
    Codeup, founded in 2014, is located at 600 Navarro St. Suite 350, San Antonio, TX 78230. 
    You can find us online at http://codeup.com and our alumni portal is located at https://alumni.codeup.com.
    """

#### find the word located

In [92]:
regexp = r'located'

re.findall(regexp, subject)

['located', 'located']

In [93]:
regexp = r'located'

re.search(regexp, subject)

In [ ]:
#results type

#### find numbers

#### find navarro

In [94]:
regexp = r'navarro'

re.search(regexp, subject)

In [95]:
regexp = r'navarro'

re.search(regexp, subject, re.IGNORECASE)

In [ ]:
#results type

### Name Capture Group

- `?P`: to name a capture group

#### find the protocol, domain, and tld and name them

In [96]:
regexp = r'(?P<protocol>https*)://(?P<domain>\w+).(?P<tld>\w+)'

In [97]:
#groups()
match = re.search(regexp, subject)
match

In [98]:
#groupsdict()
match.groupdict()

{'protocol': 'http', 'domain': 'codeup', 'tld': 'com'}

##### regex flag:  `re.VERBOSE`

In [100]:
regexp = r'''
    (?P<protocol>https*)://
    (?P<domain>\w+).
    (?P<tld>\w+)'''

match= re.search(regexp, subject, re.VERBOSE)
match

In [101]:
match.groupdict()

{'protocol': 'http', 'domain': 'codeup', 'tld': 'com'}

### `re.sub`

- allows us to match a regex and substitute in a new substring for the match; returns string

In [102]:
subject = 'abc 12345xyz'

#### remove all the digits

#### replace all digits with an o

#### replace all the digits with a single o

### `re.compile`

- prepare a regular expression for use ahead of time, returns expression

In [103]:
emails = [
    "jane@company.com",
    "bob@company.com",
    "jane.janeway@company.com",
    "jane.janeway@dogood.org",
    "jane.janet.janeway@dogood.org", # bonus for the 3 part address
]

In [108]:
regexp = r'(\w+\.*\w+)@(\w+)\.(\w+)'

for email in emails:
    print(re.findall(regexp, email))

[('jane', 'company', 'com')]
[('bob', 'company', 'com')]
[('jane.janeway', 'company', 'com')]
[('jane.janeway', 'dogood', 'org')]
[('janet.janeway', 'dogood', 'org')]

In [109]:
pattern = re.compile(r'''
        (\w+\.*\w+)@(\w+)\.(\w+)
        ''', re.VERBOSE)
pattern

re.compile(r'\n        (\w+\.*\w+)@(\w+)\.(\w+)\n        ',
           re.UNICODE|re.VERBOSE)

In [110]:
[re.search(pattern,email) for email in emails]

[<re.Match object; span=(0, 16), match='jane@company.com'>,
 <re.Match object; span=(0, 15), match='bob@company.com'>,
 <re.Match object; span=(0, 24), match='jane.janeway@company.com'>,
 <re.Match object; span=(0, 23), match='jane.janeway@dogood.org'>,
 <re.Match object; span=(5, 29), match='janet.janeway@dogood.org'>]

In [111]:
pattern = re.compile(r'''
        (?P<name>\w+\.*\w+)@
        (?P<domain>\w+)\.
        (?P<tld>\w+)
        ''', re.VERBOSE)
pattern

re.compile(r'\n        (?P<name>\w+\.*\w+)@\n        (?P<domain>\w+)\.\n        (?P<tld>\w+)\n        ',
           re.UNICODE|re.VERBOSE)

In [114]:
[re.search(pattern,email).groupdict() for email in emails]

[{'name': 'jane', 'domain': 'company', 'tld': 'com'},
 {'name': 'bob', 'domain': 'company', 'tld': 'com'},
 {'name': 'jane.janeway', 'domain': 'company', 'tld': 'com'},
 {'name': 'jane.janeway', 'domain': 'dogood', 'tld': 'org'},
 {'name': 'janet.janeway', 'domain': 'dogood', 'tld': 'org'}]

In [115]:
pd.DataFrame([re.search(pattern,email).groupdict() for email in emails])

            name   domain  tld
0           jane  company  com
1            bob  company  com
2   jane.janeway  company  com
3   jane.janeway   dogood  org
4  janet.janeway   dogood  org